{
    "bot": {
        "token": "put your bot token here",
        "reply": true
    },
    "status": {
        "status": "online",
        "game": "made by EnhancedMind ❤️"
    },
    "configResponsePrefix": "n",
    "responseNumber": {
        "n69": ":ok_hand: Very nice!",
        "n420": ":ok_hand: Ok"
    },
    "responseSum": {
        "n69": ":ok_hand: **Nice!** All the numbers in your message added up to 69. Congrats!",
        "n420": ":ok_hand: All the numbers in your message added up to 420. Congrats!"
    }
}
